.cssModule {

  .panel {
    border: 1px solid black;
    display: inline-block;
    width: 375px;
    min-height: 375px;
    padding: 30px;
    background:  #fff;
    margin-bottom: 30px;

    div {
      background: yellow;
      margin-bottom: 23px;
    }

    h3 {
      margin: 0 0 23px 0;
    }

    .apdex {
      display: inline-block;
      width: 30px;
      color: #4A4A4A;
      font-size: 16px;
      opacity: 62%;
      line-height: 19px; /* 1.5rem ??? */
      margin-right: 23px;
      vertical-align: top;
    }

    .apdexName {
      display: inline-block;
      width: 320px;
      color: #4A4A4A;
      font-size: 16px;
      line-height: 19px; /* 1.2rem ??? */
    }
  }
}
