/**
  @description    FONTS
                  I can load from CDN, or embed fonts this way.
                  I just prefer it this way sometimes. It can give you more control depending on what you are doing.
*/
@font-face {
  font-family: 'OpenSansNeue';
  url('/assets/fonts/open-sans/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'OpenSansBold';
  url('/assets/fonts/open-sans/OpenSans-Bold.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Helvetica';
  font-weight: normal;
}

@font-face {
  font-family: 'HelveticaBold';
  font-weight: bold;
}


.container {
  padding: 33px 0 20px 33px;
}

.dashboard-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

body {
  font-family: "Helvetica"; /* "Helvetica Neue",serif; */
  background: lightgray;
}

.panel.list-style {
  width: -moz-available;
  min-width: -webkit-fill-available;
  min-height: min-content;
  flex: 1 1 100%;
  max-width: initial; /* IE fix*/
}

.panel.list-style .apdex-name {
  min-width: 320px;
  width: auto;
}

.panel {
  border: 1px solid black;
  display: inline-block;
  /* width: 375px; */
  /* min-height: 375px; */
  min-width: 375px;
  flex: 1;
  margin: 0 30px 30px 0;
  padding: 30px;
  background:  #fff;
}

.panel div {
  margin-bottom: 23px;
}

h1.section-title {
  color: #000;
  font-size: 35px;
  font-family: "Helvetica"; /* "Helvetica Neue",serif; */
  margin-top: 0;
  line-height: 43px; /* 1.2rem ??? */
}

h1.section-title span {
  font-size: 18px;
  font-family: "Helvetica"; /* "Helvetica Neue",serif; */
  line-height: 22px; /* 1.2rem ??? */
}

h1.section-title span.show-list input {
  transform: scale(1.5);
  /* zoom: 2; */
  margin-left: 30px;
  opacity: 0;
  cursor: pointer;
  position: absolute;
  top: 60px;
  z-index: 5;
}

/***checkmark ***/
/* Create a custom checkbox */
.checkmark {
  position: relative;
  top: 3px;
  margin-left: 27px;
  height: 18px;
  width: 18px;
  display: inline-block;
  background-color: #fff;
  border-radius: 0.23rem;
  border: thin solid #4a4a4a;
  opacity: 62%;
}

/* On mouse-over  */
.container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the enabled icon when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 4px;
  top: 4px;
  width: 10px;
  height: 10px;
  background: #7ED321;
  border-radius: 0.1rem;
}
/***checkmark ***/





h1.section-title span.show-list {
  font-size: 16px;
}

.panel h3 {
  margin: 0 0 23px 0;
}

.panel div {

}

.panel .apdex {
  display: inline-block;
  width: 30px;
  color: #4A4A4A;
  font-size: 16px;
  opacity: 62%;
  line-height: 19px; /* 1.5rem ??? */
  margin-right: 23px;
  vertical-align: top;
}

.panel .apdex-name {
  display: inline-block;
  width: 320px;
  color: #4A4A4A;
  font-size: 16px;
  line-height: 19px; /* 1.2rem ??? */
}

.panel .app-version-number {
  display: none;
  font-size: 0.5rem;
  position: absolute;
  background: #fff;
  padding: 4px;
  opacity: 0.9;
  z-index: 1;
  border: 3px solid grey;
  font-weight: bold;
}




/**
  * mobile break point
 */
@media only screen and (max-width: 414px) {
  .container {
    padding: 0 0 20px 0px;
  }

  .panel {
    min-width: min-content;
    margin: 0 auto 30px auto;
  }

  .panel .apdex-name {
    width: 260px;
  }
}

@media screen and (max-width: 735px) {
  h1.section-title .show-list {
    display: none;
  }

  h1.section-title span {
    display: block;
    margin-top: 9px;
  }

  .panel.list-style {
    width: 100%;
    min-width: 375px;
  }
}
/**
  * to have a more natural flow scaling from 375 in smaller view remove this
 */
@media screen and (max-width: 999px) {
  .panel {
    max-width: 375px;
  }
}
